{% load static %}


<!doctype html>

<html>
<head>
    <title>
        </title>

</head>

<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>

        </nav>
    </header>
    <main>
        <h1>Signup</h1>

        <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}     <!--Using form.py as content for this page-->
            <button>Signup</button>
          </form>
        </div>





    </main>
    <footer>

    </footer>

</body>

</html>
