{% load static %}


<!doctype html>

<html>
<head>
    <title>
        </title>

</head>

<body>
    <header>
        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
            <li><a href="{% url 'account_list' %}">My accounts</a></li>
            <li><a href="{% url 'create_account' %}">Create account</a></li>
            <li><a href="{% url 'category_list' %}">My categories</a></li>
            <li><a href="{% url 'create_category' %}">Create category</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>

        </nav>
    </header>
    <main>
      <h1>My Accounts</h1>
      <table>
                <thead>
                <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
                </tr>
                </thead>
                  <tbody>
                  {% for account in accounts %}
                  <tr>
                  <td>{{ account.name }}</td>
                  <td>{{ account.number }}</td>
                  <td>{{ account.receipts.all|length }}</td>
                  </tr>
                {% endfor %}
                  </tbody>
      </table>
      </main>
    <footer>

    </footer>

</body>

</html>
