{% load static %}


<!doctype html>

<html>
<head>
    <title>
        </title>

</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
                <li><a href="{% url 'account_list' %}">My accounts</a></li>
                <li><a href="{% url 'create_account' %}">Create account</a></li>
                <li><a href="{% url 'category_list' %}">My categories</a></li>
                <li><a href="{% url 'create_category' %}">Create category</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                </ul>

        </nav>
    </header>
    <main>
        <h1>Create Receipt</h1>

        <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}     <!--Using form.py as content for this page-->
            <button>Create</button>
          </form>
        </div>





    </main>
    <footer>

    </footer>

</body>

</html>
