{% load static %}


<!doctype html>

<html>
<head>
    <title>
        </title>

</head>

<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
            <li><a href="{% url 'account_list' %}">My accounts</a></li>
            <li><a href="{% url 'create_account' %}">Create account</a></li>
            <li><a href="{% url 'category_list' %}">My categories</a></li>
            <li><a href="{% url 'create_category' %}">Create category</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>

        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        {% if user.is_authenticated %}
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            {% for receipt in receipts %}
            <tbody>
            <tr>
            <td>{{ receipt.vendor }}</td>
            <td>{{ receipt.total }}</td>
            <td>{{ receipt.tax }}</td>
            <td>{{ receipt.date|date:"m/d/y" }}</td>
            <td>{{ receipt.category.name }}</td> <!-- You have to put .name bc they're own models-->
            <td>{{ receipt.account.name }}</td>
            </tr>
            </tbody>
            {% endfor %}

            {% endif %}
        </table>





    </main>
    <footer>

    </footer>

</body>

</html>
